@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title {
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.order-element,
.book-list {
  outline: 2px solid gray;
  outline-offset: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.book-detail {
  margin-right: calc(0.5rem * 0);
  margin-left: calc(0.5rem * calc(1 - 0));
}

.book-detail p:nth-child(1) {
  color: #fc5a7a;
  font-size: 20px;
  font-weight: bold;
}

.order-element:hover {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.book-cover {
  width: 200px;
}
@media (max-width: 600px) {
  .order-element {
    width: 50% !important;
  }

  .book-cover {
    width: 100%;
    height: 100%;
  }
  .book-list {
    flex-direction: column !important;
  }
}
